/** object hack **/
object{
  pointer-events: none !important;
}

/*** Color vars **/
$pink-hover: #ff5b91;
$pink-pagination: #ff82ab;
$pink-footer-top: #ffd0e2;
$pink-footer-bottom: #ff82ab;
$pink-link-bg: #ffb7dc;
$purple-hover: #8f00ed;
$black: #000000;
$white: #ffffff;



  /*** Font vars **/
$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;

/** transition **/
$transition-base: 0.2s all ease;


