@import "reboot";
@import "mixins";
@import "variables";
@import "fonts";
@import "animate";
@import "lightslider";

html {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
  }

}

:root {
  font-size: 12px;
}

@media (min-width: 992px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 16px;
  }
}

[hidden] {
  display: none
}

.hidden-sm {
  @include respond-below(sm) {
    display: none !important;
  }
}

.visible-sm {
  @include respond-above(sm) {
    display: none !important;
  }
}

.hidden-md {
  @include respond-below(md) {
    display: none !important;
  }
}

.visible-md {
  @include respond-above(md) {
    display: none !important;
  }
}

body {
  font-family: $roboto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $oswald;
}

a {
  transition: $transition-base;
}

.simple-title {
  font-family: $roboto;
  @include x-rem(font-size, 20px);
  font-weight: normal;
  line-height: normal;
  color: #000000;
}

.btn {
  transition: $transition-base;
  color: $black;
  &--nav {
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom-color: $pink-hover;
    }
  }
  &--rounded {
    @include x-rem(border-radius, 18px);
  }
  &--pager {
    display: inline-block;
    @include x-rem(padding, 12px 9px);
    background-color: $white;
    border: solid 1px $black;
    border-radius: 4px;
    @include x-rem(font-size, 12px);
    font-weight: 900;
    line-height: 1;
    letter-spacing: 2.4px;
    color: $pink-pagination;
    text-transform: uppercase;
    &:hover {
      background-color: $pink-pagination;
      color: $white;
    }
  }
  &--pink {
    @include x-rem(padding, 8px 12px);
    background-color: $pink-link-bg;
    border: solid 1px #ffd7d5;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black;
    text-transform: uppercase;
    &:hover {
      color: $black;
      background-color: shade($pink-link-bg, 10);
    }
  }
  &--link {
    &:hover {
      color: $pink-hover;
      text-decoration: underline;
    }
  }
  &--big {
    @include x-rem(padding, 20px 24px);
    @include x-rem(font-size, 20px);
    font-weight: 300;
    line-height: 1.36;
    text-transform: uppercase;
    @media screen and (min-width: 451px) and (max-width: 500px) {
      @include x-rem(padding, 15px 18px);
    }
  }
  &--black {
    background-color: $black;
    color: $white;
    border: none;
    &:hover {
      background-color: tint($black, 10);
      color: $white;
      cursor: pointer;
    }
  }
  &:hover {
    text-decoration: none;
  }
}

.header {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
  &__right {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__mobile {
    display: none;

  }
  @include respond-below(md) {
    &__top, &__bottom {
      display: none;
    }
    &__mobile {
      display: block;
    }
  }

}

.cart-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150%;
  right: 0;
  width: 120%;
  height: auto;
  background-color: $white;
  z-index: 10;
  transition: 0.2s all ease-out;

  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;

  &.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border: 2px solid $pink-footer-top;
  }
  &__title {
    @include x-rem(font-size, 14px);
    text-transform: uppercase;
  }
  &__price {
    @include x-rem(font-size, 22px);
    font-weight: bold;
  }
  .product__buy-button {
    margin: 0;
  }
  &__footer {
    padding: 15px 25px;
    border: 2px solid $pink-footer-top;
    border-top: none;
    a {
      @include x-rem(font-size, 14px);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-transform: uppercase;
      color: $black;
      &:hover {
        text-decoration: none;
        color: $black;
        .cart-button__icon {
          opacity: .7;
        }
      }
      .cart-button__icon {
        display: inline-block;
        height: 40px;
        width: 40px;
        transition: $transition-base;
        svg {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}

.header-mobile {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //position: relative;
  @include respond-above(md) {
    display: none;
  }
  &:after {
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100vw;
    height: 2px;
    background-color: $pink-footer-top;
  }
  &__hamburger {
    .menu-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 50px;
      background: none;
      border: none;
      padding: 0;
      span {
        display: block;
        width: 50px;
        height: 7px;
        margin-bottom: 7px;
        background-color: #ffcfda;
        transition: $transition-base;
        transform-origin: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include respond-below(sm) {
        width: 30px;
        span {
          width: 30px;
          height: 5px;
          margin-bottom: 5px;
        }
      }

      &.open {
        span {
          &:nth-child(2) {
            transform: translateX(-100px);
            opacity: 0;
          }
          &:nth-child(1) {
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  &__right, &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }
  &__left {
    &.transparent {
      opacity: 0;
    }
  }
  &__logo {
    margin-left: 20px;
    @include respond-below(sm) {
      margin-left: 10px;
      width: 120px;
      height: 100%;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__button {
    background: none;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    @include respond-below(sm) {
      width: 20px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    &--search {
      //width: 40px;
      //height: 40px;
      margin-right: 40px;
    }
    &--cart {
      //width: 37px;
      //height: 35px;
      margin-right: 40px;
    }
    &--logout {
      //width: 31px;
      //height: 31px;
    }
    @include respond-below(sm) {
      width: 30px;
      height: 30px;
      &--search {
        margin-right: 20px;
      }
      &--cart {
        margin-right: 20px;
      }
    }
  }
}

.search-field {
  position: relative;
  &__field {
    display: flex;
    position: absolute;
    top: 0;
    right: 10px;
    background-color: $white;
    z-index: 10;
    transition: $transition-base;
    visibility: hidden;
    opacity: 0;
@media (max-width: 320px){
  max-width: 210px !important;
}
    &.open {
      visibility: visible;
      opacity: 1;
    }
  }
  &__back {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    border-top: 2px solid $pink-footer-top;
    border-bottom: 2px solid $pink-footer-top;
    border-left: 2px solid $pink-footer-top;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    svg {
      width: 30px;
      height: 15px;
      path {
        fill: $pink-footer-top;
      }
    }
  }
  &__input {
    display: inline-block;
    width: calc(100% - 75px);
    height: 100%;
    border: none;
    color: $black;
    padding: 6px 6px 7px 6px;
    border-top: 2px solid $pink-footer-top;
    border-bottom: 2px solid $pink-footer-top;
    &:focus, &:active {
      outline: none;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $pink-footer-top;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $pink-footer-top;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $pink-footer-top;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $pink-footer-top;
    }
  }
  &__search {
    width: 45px;
    height: 100%;
    padding: 2px 15px 2px 2px;
    background-color: $pink-footer-top;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.call-block {
  display: flex;
  align-items: center;
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    z-index: 1;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    &:before {
      display: block;
      width: 40px;
      height: 40px;
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      background: $pink-link-bg;
      border-radius: 10px;
      transform: rotate(45deg);
      transform-origin: 50%;
      z-index: -1;
    }
    svg {
      width: 26px;
      height: 26px;
      margin-bottom: 2px;
      margin-left: -10px;
      z-index: 1;
    }
  }
  &__numbers {
    display: flex;
    flex-direction: column;
    @include x-rem(font-size, 14px);
    & > a {
      margin-bottom: 10px;
    }
    .call-block__number:first-child {
      margin-right: 20px;
    }
  }
}

.cart-button {
  border: none;
  background: transparent;
  outline: none;
  @include x-rem(font-size, 11px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  transition: $transition-base;
  margin-right: 20px;
  svg {
    path {
      transition: $transition-base;
    }
  }
  &:hover {
    cursor: pointer;
    color: $pink-hover;
    svg {
      path {
        fill: $pink-hover;
      }
    }
  }
  &__icon {
    margin-right: 13px;
  }
  &__count {
    margin-left: 12px;
  }
}

.login-button {
  @include x-rem(font-size, 11px);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0px 33px 0px;
  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 322px);
  }
  &__link {
    @include x-rem(font-size, 17px);
    text-transform: uppercase;
  }

  &__search {

  }
}

.search {
  width: 276px;
  height: 34px;
  padding: 5px 18px;
  border-radius: 16px;
  border: solid 1px $black;
  form {
    display: flex;
    align-items: center;
  }
  &__input {
    width: calc(100% - 20px);
    background-color: $white;
    @include x-rem(font-size, 16px);
    border: none;
    &:focus, &:active {
      outline: none;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: $white;
    border: none;
  }
}

.carousel {
  background-color: #ffd5e0;
  padding: 10px 0;
  &__dots {
    position: absolute;
    right: 10px;
    bottom: 40px;
    @include respond-below(sm) {
      bottom: 0;
    }
    .dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 2px;
      background-color: transparent;
      border: 2px solid #ebebeb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: #ebebeb;
    }
  }
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media screen and (max-width: 500px) {
    //flex-direction: column-reverse;
  }
}

.carousel-item {
  &__title {
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  &__subtitle {
    margin-top: -45px;
    p {
      @include x-rem(font-size, 60px);
      font-weight: 300;
      line-height: 1;
      letter-spacing: 1.5px;
      color: $black;
    }
    @include respond-below(sm) {
      margin-top: -20px;
      p {
        @include x-rem(font-size, 32px);
        margin: 0;
      }
    }
  }
  &__text {
    p {
      @include x-rem(font-size, 20px);
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 0.5px;
      color: $black;
      @include respond-below(sm) {
        @include x-rem(font-size, 12px);
        margin: 0;
      }
    }
  }
  &__btn {
    margin-top: 40px;
    @include respond-below(sm) {
      margin-top: 20px;
    }
    @include respond-below(sm) {
      margin-top: 10px;
    }
    .btn {
      @include x-rem(font-size, 11px);
      padding: 12px 20px;
      text-transform: uppercase;
      font-weight: 300;
      line-height: 1.09;
      letter-spacing: 1.1px;
      @include respond-below(sm) {
        @include x-rem(font-size, 8px);
        padding: 4px 8px;
      }
    }
  }
  &__image {
    @include respond-below(sm) {
      width: 100%;
    }
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 24px;
  height: 48px;
  margin-top: -22px;
  //padding: 16px;
  color: white;
  font-weight: bold;
  @include x-rem(font-size, 18px);
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  svg {
    width: 100%;
    height: 100%;
  }
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Caption text */
.text {
  color: #f2f2f2;
  @include x-rem(font-size, 15px);
  padding: 8px 12px;
  width: 50%;
  text-align: center;
  @include respond-below(md) {
    width: 65%;
  }
  @include respond-below(sm) {
    width: 100%;
    padding: 0;
  }
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  @include x-rem(font-size, 12px);
  padding: 8px 12px;

}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/*
.autumn-title{
  //filter: url(#filter);
  background-image: linear-gradient(to top, #ffbc8f, #fe7d7d), linear-gradient(#e4917d, #e4917d);
  font-family: 'Markella', cursive;
  font-size: 194px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 4.9px;
  text-align: left;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}*/

.promo-grid {
  &__row {
    display: flex;
    align-items: center;
    &--one {
      margin-top: -45px;
      @media screen and (max-width: 500px) {
        margin-top: 20px;
      }
      //@media screen and (max-width: 450px) {
      //  flex-direction: column;
      //}
    }
    &--two {
      position: relative;
      margin-top: -50px;
      @include respond-below(md) {
        display: none;
      }
    }
  }

}

.promo-left-cell {
  width: 59%;
  padding-top: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-right: 2%;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  &__title, &__btn {
    position: absolute;
  }
  &__title {
    left: 48px;
    top: 86px;
    h3 {
      width: 205px;
      @include x-rem(font-size, 71px);
      font-weight: 300;
      line-height: 1;
      color: #ffffff;
      word-wrap: break-word;
    }
  }
  &__btn {
    left: 48px;
    bottom: 110px;
  }
  &__mobile {
    display: none;
    width: 59%;
    margin-right: 2%;
    @include respond-below(sm) {
      width: 55%;
    }
    @media screen and (max-width: 450px) {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }
  }
  @include respond-below(md) {
    &__mobile {
      display: block;
    }
    &--pc {
      display: none;
    }
  }

}

.categories-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 55px;
  @media screen and (max-width: 500px) {
    margin-top: 20px;
  }
  &__item {
    margin-bottom: 20px;
    color: $black;
    text-transform: uppercase;
    text-decoration: underline;
    @include x-rem(font-size, 28px);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1px;
    @include respond-below(sm) {
      @include x-rem(font-size, 10px);
    }
    //@media screen and (max-width: 500px) {
    //  @include x-rem(font-size, 18px);
    //}
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}

.promo-right-cell {
  width: 39%;
  padding-top: 62%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: $white;
  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 12px;
    top: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 24px);
    border: 5px solid $pink-link-bg;
  }
  @include respond-below(sm) {
    width: 80%;
    padding-top: 80%;
  }
  //@media screen and (max-width: 450px) {
  //  width: 100%;
  //  padding-top: 150%;
  //}
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  &__title, &__btn {
    position: absolute;
  }
  &__title {
    top: 55px;
    left: 0;
    width: 100%;
    h3 {
      @include x-rem(font-size, 28px);
      font-weight: 300;
      line-height: 1.27;
      color: #000000;
      font-family: $roboto;
      text-align: center;
      @include respond-below(sm) {
        @include x-rem(font-size, 16px);
      }
    }
  }
  &__btn {
    bottom: 62px;
    right: calc(50% - 122px);
    @include respond-below(md) {
      right: calc(50% - 92px);
    }
    @include respond-below(sm) {
      right: calc(50% - 50px);
      .btn--big {
        padding: 8px 10px;
        @include x-rem(font-size, 11px);
      }
    }
    //@media screen and (max-width: 500px) {
    //  right: calc(50% - 86px);
    //}
  }
}

.promo-full-cell {
  width: 55%;
  padding-top: 45%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: -1;
  }

  &__card {
    position: absolute;
    right: 0;
    top: calc(50% - 170px);
    width: 50%;
    height: 340px;
    padding: 66px 70px;
    background-color: $pink-link-bg;
    z-index: 2;
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: calc(50% - 138px);
      right: 40px;
      width: calc(100% - 75px);
      height: calc(100% - 64px);
      border: 5px solid $white;
      z-index: -1;
    }
  }
  &__subtitle {
    @include x-rem(font-size, 20px);
    font-weight: 300;
    letter-spacing: 1px;
  }
  &__title {
    h3 {
      @include x-rem(font-size, 50px);
      font-weight: 300;
      line-height: 1;
    }
  }
  &__price {
    margin-top: 35px;
    @include x-rem(font-size, 30px);
    font-weight: 300;
    letter-spacing: 1.5px;
  }
}

.popular {
  margin-top: 40px;
  &__title {
    h3 {
      font-family: $roboto;
      text-align: right;
      @include x-rem(font-size, 25px);
      font-weight: 500;
      line-height: 1.44;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      @include respond-below(sm) {
        font-size: 18px;
      }
    }
    &--popular {
      @include respond-below(sm) {
        display: none;
      }
    }
    &--new {
      @include respond-above(sm) {
        display: none;
      }
    }
  }
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0px 50px 0px;
    .btn--black {
      text-transform: uppercase;
      padding: 12px 24px;
      @include x-rem(font-size, 14px);
      font-weight: 300;
      line-height: 0.86;
      letter-spacing: 0.7px;
    }
  }
  @include respond-below(md) {
  }
}

.product-card {
  width: 25%;
  padding-top: 40%;
  position: relative;
  &--catalog {
    width: 33.3333%;
    padding-top: 50%;
    &.two-col {
      width: 66.6666%;
    }
  }
  @include respond-below(md) {
    width: 33.333%;
    padding-top: 50%;
  }
  @include respond-below(sm) {
    width: 50%;
    padding-top: 75%;
    &.two-col {
      width: 100%;
    }

    &.third-sm {
      width: 33.333%;
      padding-top: 50%;

      .product-card__name {
        top: 15px;
        left: 15px;
        @include x-rem(font-size, 12px);
        strong {
          @include x-rem(font-size, 12px);
        }
      }
      .product-card__price {
        left: 20px;
        bottom: 10px;
      }
      .product-card__new-label {
        left: 10px;
        padding: 4px 5px;
        @include x-rem(font-size, 12px);
      }
      .product-card__promo-label {
        left: 10px;
        padding: 4px 5px;
        @include x-rem(font-size, 12px);
      }
    }
  }
  //@media screen and (max-width: 450px) {
  //  width: 100%;
  //  padding-top: 150%;
  //}
  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 5px;
    top: 0;
    width: calc(100% - 10px);
    height: 100%;
    background-image: linear-gradient(to top, #894fc4, #f05b9d 50%, #ff9164);
    opacity: 0;
    transition: $transition-base;
    z-index: -1;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
    .product-card__cart, .product-card__more {
      visibility: visible;
      opacity: 1;
    }
  }
  &__buttons {
    position: absolute;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include respond-below(md) {
      display: none;
    }
  }
  &__cart {
    padding: 9px 22px;
    background-color: transparent;
    color: $white;
    @include x-rem(font-size, 13px);
    font-weight: bold;
    letter-spacing: 0.7px;
    border-radius: 16px;
    text-transform: uppercase;
    border: none;
    position: relative;
    overflow: hidden;
    &:hover {
      cursor: pointer;
      &:before {
        left: -20%;
      }
    }
    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 120%;
      height: 108%;
      left: 0;
      top: -4%;
      transition: $transition-base;
      background: #f05b9d;
      background-image: linear-gradient(45deg, #894fc4, #f05b9d 50%, #ff9164);
      z-index: -1;
    }
  }
  &__more {
    margin-top: 16px;
    padding: 9px 50px;
    background-color: transparent;
    color: $white;
    @include x-rem(font-size, 13px);
    font-weight: bold;
    letter-spacing: 0.7px;
    border-radius: 16px;
    text-transform: uppercase;
    border: none;
    position: relative;
    overflow: hidden;
    &:hover {
      cursor: pointer;
      color: $white;
      text-decoration: none;
      &:before {
        left: -20%;
        opacity: 0.9;
      }
    }
    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 120%;
      height: 108%;
      left: 0;
      top: -4%;
      transition: $transition-base;
      background: #b400ff;
      background-image: linear-gradient(45deg, #7400e1, #b400ff);
      z-index: -1;
    }
  }
  &__cart, &__more {
    transition: $transition-base;
    visibility: hidden;
    opacity: 0;
  }
  &__bg {
    display: block;
    position: absolute;
    top: 10px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 20px);
    color: $black;
    overflow: hidden;
    @include respond-below(sm) {
      top: 5px;
      left: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 10px);
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      @media screen and (max-width: 450px) {
        width: auto;
        height: 100%;
      }
    }
  }
  &__name, &__price, &__new-label, &__promo-label {
    position: absolute;
  }
  &__new-label {
    top: 84px;
    left: 15px;
    padding: 8px 10px;
    background-color: $pink-hover;
    color: $white;
    text-transform: uppercase;
    @include x-rem(font-size, 14px);
    font-weight: 500;
    letter-spacing: 0.4px;
  }
  &__promo-label {
    top: 84px;
    left: 15px;
    padding: 8px 18px;
    background-color: $purple-hover;
    color: $white;
    text-transform: uppercase;
    @include x-rem(font-size, 14px);
    font-weight: 500;
    letter-spacing: 0.4px;
  }
  &__name, &__price {
    &.background--dark {
      color: $white;
    }

    &.background--light {
      color: $black;
    }
    &.background--complex {
      color: #a2a2a2;
    }
  }
  &__name {
    top: 40px;
    left: 35px;
    @include x-rem(font-size, 13px);
    font-weight: 300;
    letter-spacing: 0.7px;
    span {
      display: block;
    }
    strong {
      @include x-rem(font-size, 15px);
      line-height: 1.2;
      letter-spacing: 0.4px;
    }

    @include respond-below(sm) {
      top: 20px;
      left: 25px;
    }
  }
  &__price {
    left: 35px;
    bottom: 40px;
    @include x-rem(font-size, 15px);
    font-weight: bold;
    letter-spacing: 0.8px;
    @include respond-below(sm) {
      left: 25px;
      bottom: 20px;
    }
  }
}

.advantage {
  margin-bottom: 76px;
  @media screen and (max-width: 450px) {
    margin-bottom: 30px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    //@media screen and (max-width: 450px) {
    //  flex-direction: column;
    //  justify-content: center;
    //}
  }
}

.advantage-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  @include respond-below(sm) {
    flex-direction: column;
    &__img {
      max-height: 50px;
      margin-bottom: 10px;
      img {
        max-height: 50px;
      }
    }
  }
  @media screen and (max-width: 450px) {
    width: 100%;
    margin-bottom: 20px;
  }
  &__info {
    margin-left: 20px;
    @include respond-below(sm) {
      margin: 0;
    }
  }
  &__title {
    p {
      @include x-rem(font-size, 17px);
      font-weight: 300;
      line-height: 1;
      letter-spacing: 1.7px;
      @include respond-below(sm) {
        text-align: center;
        @include x-rem(font-size, 12px);
      }
    }
  }
  &__text {
    p {
      margin: 0;
      @include x-rem(font-size, 15px);
      font-weight: 300;
      line-height: 1.6;
      letter-spacing: 0.4px;
      @include respond-below(sm) {
        text-align: center;
        @include x-rem(font-size, 10px);
      }
    }
  }
}

.footer {
  .underline {
    text-decoration: underline;
    @include x-rem(font-size, 14px);
  }
  &__top {
    padding: 55px 0 30px 0;
    background-color: $pink-footer-top;
    @include respond-below(sm) {
      padding: 0;
      padding-top: 10px;
    }
  }
  &__bottom {
    height: 55px;
    background-color: $pink-footer-bottom;
    @include respond-below(sm) {
      height: auto;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    @include respond-below(sm) {
      flex-direction: column;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    width: 25%;
    &--mobile {
      display: none;
    }
    @include respond-below(sm) {
      width: 100%;
      padding: 15px 0;
      &:nth-child(1) {
        display: none;
      }
      &--pc {
        display: none;
      }
      &--mobile {
        display: flex;
        background-color: $white;
      }
    }
    &:nth-child(3), &:nth-child(4) {
      padding-left: 50px;
      @include respond-below(sm) {
        padding-left: 0;
      }
    }
  }
  &__info {
    p {
      @include x-rem(font-size, 12px);
    }
  }
}

.contact-column {
  @include x-rem(font-size, 12px);
  @include respond-below(sm) {
    display: flex;
    justify-content: space-between;

  }
  @media (max-width: 325px){
    p{
      @include x-rem(font-size, 11px);
      margin-right: 5px;
      &:last-child{
        margin-right: 0;
      }
      a{
        margin-bottom: 5px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  &__tels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      color: $black;
      &:hover {
        color: $purple-hover;
        text-decoration: none;
      }
    }
  }
}

.vertical-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include respond-below(sm) {
    display: none;
  }
  &__link {
    color: $black;
    @include x-rem(font-size, 14px);
    font-weight: 300;
    margin-bottom: 22px;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $purple-hover;
      text-decoration: none;
    }
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  &--mobile {
    display: none;
    padding: 15px 0;
  }
  @include respond-below(sm) {
    &--pc {
      display: none;
    }
    &--mobile {
      display: flex;
    }
  }
  &__link {
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
    &--facebook {
      width: 17px;
      height: 32px;
    }
    &--twitter {
      width: 34px;
      height: 28px;
    }
    &--google {
      width: 50px;
      height: 30px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.product {
  @include respond-below(md) {

    margin-top: 35px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    @include respond-below(sm) {
      flex-direction: column;
    }
  }
  &__left {
    width: 40%;
    @include respond-below(md) {
      width: 45%;
    }
    @include respond-below(sm) {
      width: 100%;
    }
    .lightSlider.lsGrab > * {
      position: relative;
      padding-top: 20%;
      //padding-top: 35%;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .lSSlideOuter .lSPager.lSGallery li {
      position: relative;
      padding-top: 15%;
      //padding-top: 35%;
      overflow: hidden;
      border: 1px solid transparent;
      transition: $transition-base;
      &.active, &:hover {
        border-radius: 0;
        border-color: $black;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__right {
    width: 50%;
    @include respond-below(md) {
      width: 52%;
    }
    @include respond-below(sm) {
      width: 100%;
      margin-top: 40px;
    }
    .simple-title {
      margin-bottom: 10px;
    }
  }
  &__title {
    .code {
      margin-bottom: 10px;
      @include x-rem(font-size, 13px);
      font-weight: 300;
      letter-spacing: 0.7px;
      span:first-child {
        margin-right: 10px;
      }
    }
    h1 {
      font-family: $roboto;
      @include x-rem(font-size, 30px);
      font-weight: 600;
      line-height: 0.9;
      letter-spacing: 0.7px;
      margin-bottom: 18px;
    }
  }
  &__price {
    margin-bottom: 28px;
  }
  &__material, &__producer, &__sizes, &__colors {
    @include respond-below(sm) {
      display: flex;
      margin-bottom: 20px !important;
      p {
        margin: 0;
      }
      span {
        line-height: 1.5;
      }
      .simple-title {
        margin-right: 20px;
        margin-bottom: 0;
      }
    }
  }
  &__material {
    margin-bottom: 40px;
    span {
      //@include x-rem(font-size, 14px);
      margin-right: 5px;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @include respond-below(sm) {
      flex-direction: column;
    }
    @include respond-below(sm) {
      margin-bottom: 15px;
    }
    & > div {
      width: 40%;
      @include respond-above(md) {
        width: 48%;
      }
      @include respond-below(sm) {
        width: 100%;
      }
    }
  }
  &__producer {
    margin-bottom: 40px;
  }
  &__colors {
    margin-bottom: 35px;
  }
  &__buy {
    display: flex;
  }
  &__count {
    position: relative;
    width: 90px;
    height: 40px;
    background-color: $white;
    border: solid 1px #b3b3b3;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      height: 100%;
      width: 20px;
      font-size: 20px;
      background-color: $white;
      border: none;
      &:hover {
        cursor: pointer;
      }
    }

    .count-up {
      left: 0;
    }

    .count-down {
      right: 0;
    }

    input[type=number] {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% - 40px);
      height: 100%;
      margin-left: 20px;
      border: none;
      text-align: center;
      &:active, &:focus {
        outline: none;
      }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

  }

  &__buy-button {
    margin-left: 20px;
    padding: 10px 20px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #fefefe;
    z-index: 1;
    text-transform: uppercase;
    overflow: hidden;
    border: none;
    &:hover {
      cursor: pointer;
      &:before {
        left: -20%;
      }
    }
    @include respond-below(sm) {
      border-radius: 6px;
    }
    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 120%;
      height: 108%;
      left: 0;
      top: -4%;
      transition: $transition-base;
      background: #f05b9d;
      background: linear-gradient(45deg, #894fc4, #f05b9d 50%, #ff9164);
      z-index: -1;

    }
  }

  &__description {
    margin-top: 50px;
    @include respond-below(sm) {
      margin-bottom: 40px;
      margin-top: 0;
    }
  }
}

.size-table-btn {
  &__button {
    display: flex;
    @include x-rem(font-size, 14px);
    letter-spacing: 0.7px;
    text-decoration: underline;
    color: $black;

    &:hover {
      text-decoration: none;
      color: $black;
    }
    span {
      width: 80px;
      transition: $transition-base;
    }
  }
  &__icon {
    margin-right: 12px;
  }
}

.colors-list {
  &__inner {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -5px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px 5px 5px;
    padding: 5px;
    line-height: 1.36;
    color: #838383;
    transition: $transition-base;
    border: 1px solid transparent;
    background-color: $white;
    @include respond-below(sm) {
      margin-bottom: 0;
    }
    &:hover, &.active {
      border: solid 1px #102950;
      color: $black;
      cursor: pointer;
    }
  }
}

.size-list {
  width: 100%;
  &__inner {
    margin: 0 -9px -9px -9px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include respond-below(sm) {
      margin-top: -9px;
      max-width: 180px;
    }

  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin: 9px;
    background-color: $white;
    border: solid 2px #b3b3b3;
    border-radius: 50%;
    @include x-rem(font-size, 18px);
    font-weight: 500;
    color: #b3b3b3;
    text-transform: uppercase;
    transition: $transition-base;
    &:hover, &.active {
      color: $pink-hover;
      border-color: $pink-hover;
      cursor: pointer;
    }
    @include respond-below(md) {
      width: 34px;
      height: 34px;
      margin: 3px;
      @include x-rem(font-size, 17px);
    }
    @include respond-below(sm) {
      margin: 4px;
      padding: 2px;
      width: 30px;
      height: 30px;
      @include x-rem(font-size, 16px);
    }
  }
}

.price-old {
  @include x-rem(font-size, 14px);
  font-weight: 600;
  letter-spacing: 0.7px;
  margin-right: 15px;
  text-decoration: line-through;
}

.price-new {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.breadcrumbs {
  display: flex;
  background-color: transparent;
  padding: 20px 0;
  @include respond-below(md) {
    padding: 20px;
    background-color: $pink-footer-top;
  }
  &__item {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 5px;
    @include x-rem(font-size, 14px);
    color: #5a5a5a;
    .angle-left {
      fill: #5a5a5a;
    }
    text-transform: uppercase;
    transition: $transition-base;
    @include respond-below(md) {
      color: $white;
      flex-direction: row;
      .angle-left {
        fill: $white;
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      color: #252525;
      text-decoration: none;
      @include respond-below(md) {
        color: $white;
      }
    }
    &.current {
      pointer-events: none;
    }
    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      transition: $transition-base;
      margin-bottom: 2px;
      transform: rotate(180deg);
      transform-origin: 70% 80%;
      @include respond-below(lg) {
        transform-origin: 70% 67%;
      }
      @include respond-below(md) {
        transform: none;
      }
      @include respond-above(lg) {
        margin-bottom: 6px;
      }
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.catalog-page {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 33px;
    @include respond-below(sm) {
      padding-top: 15px;
    }
  }
  &__menu {
    width: 20%;
    @include respond-below(sm) {
      display: none;
    }
  }
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 75%;
    @include respond-below(sm) {
      width: 100%;
    }
  }
  &__item {
    //width: 33.3333%;
    //padding-top: 50%;

  }
}

.catalog-dropdown {
  padding-top: 15px;
  position: relative;
  @include respond-above(sm) {
    display: none;
  }

  &.active {

    .catalog-menu--dropdown {
      visibility: visible;
      opacity: 1;
    }
    .catalog-dropdown__arrow-down {
      transform: rotate(180deg);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    line-height: 1.13;
    letter-spacing: 1.6px;
  }
  &__arrow-down {
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    transition: $transition-base;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.catalog-menu {
  padding-top: 10px;

  &--dropdown {
    padding: 10px;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: $white;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: $transition-base;

    visibility: hidden;
    opacity: 0;

    .catalog-menu__item {
      @include x-rem(font-size, 16px);
    }

  }
  &__title {
    line-height: 1.13;
    letter-spacing: 1.6px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__item {
    margin-bottom: 12px;
    @include x-rem(font-size, 13px);
    line-height: 1.23;
    letter-spacing: 0.7px;
    color: #222222;
    transition: $transition-base;
    border: 1px solid transparent;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $purple-hover;
      text-decoration: none;
      border-bottom-color: $purple-hover;
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
  &__pages {
    @media screen and (max-width: 520px) {
      display: none;
    }
  }
  &__inner {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond-below(md) {
      width: 100%;
    }
    .btn--pager {
      margin: 0px 5px;
    }
  }
}

.side-menu {
  position: absolute;
  top: 75px;
  left: -80%;
  width: 80%;
  height: calc(100% - 75px);
  background-color: $white;
  z-index: 999;
  border-right: 2px solid $pink-footer-top;
  border-bottom: 2px solid $pink-footer-top;
  transition: all 0.6s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
  &.open {
    left: 0;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__link {
    width: 100%;
    padding: 15px;
    @include x-rem(font-size, 15px);
    text-transform: uppercase;
    border-bottom: 1px solid $pink-footer-top;
  }
  &__back-call {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid $pink-footer-top;
    span {
      margin-left: 10px;
    }
  }
  &__address {
    padding: 15px 15px 20px 15px;
    p {
      margin: 0;
    }
  }
  &__tel {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
  &__number {
    width: 100%;
    text-decoration: underline;
    @include x-rem(font-size, 32px);
    margin-bottom: 10px;
  }

  &__catalog {
    flex-direction: column;
    width: 100%;
  }
  &__catalog {
    height: 0;
    display: none;
    &.open {
      height: auto;
      display: flex;
    }
  }
  .side-menu__link--catalog {

    display: flex;
    align-items: center;
    &:active, &:hover, &:focus {

    }
    span {
      display: none;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      transition: $transition-base;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &.open {
      width: 100vw;
      background-color: $pink-footer-top;
      border-bottom-color: $pink-footer-top;
      color: $white;
      span {
        display: inline-block;
      }
    }
  }
}

.lSSlideOuter .lightSlider li {
  //display: flex;
  //justify-content: space-between;
  padding: 0px 5px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.lSAction > a {
  width: 70px;
  height: 50px;
  background-size: 100%;
  background-position: 0 0 !important;
  opacity: 0.8;
  z-index: 50;
  &.lSPrev {
    left: 0;
    background-image: url("../images/png/slider-left.png");
  }
  &.lSNext {
    right: 0;
    background-image: url("../images/png/slider-right.png");
  }
}

.lSPager {
  @include respond-below(sm) {
    display: none;
  }
}

.modal-gallery {
  //display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  visibility: hidden;
  opacity: 0;

  &.open {
    visibility: visible;
    opacity: 1;
    .modal-gallery__inner {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__inner {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0 0 20px 0;
    border: 1px solid #888;
    width: 90%;
    transform: translateY(10px);
    visibility: hidden;
    opacity: 0;

    transition: $transition-base;
  }
  &__close {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    #modal-close {
      width: 40px;
      height: 40px;
      padding: 0;
      background: transparent;
      border: none;
      transition: $transition-base;
      &:hover {
        cursor: pointer;
        span {
          opacity: 0.7;
        }
      }
      span {
        display: inline-block;
        width: 20px;
        height: 5px;
        background-color: $pink-hover;
        transform-origin: 0;
        transition: $transition-base;
        &:first-child {
          transform: rotate(45deg);
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.modal-sizes {
  //display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.4);

  visibility: hidden;
  opacity: 0;

  &.open {
    visibility: visible;
    opacity: 1;
    .modal-sizes__inner {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__inner {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0 0 20px 0;
    border: 1px solid $pink-hover;
    width: 90%;
    max-width: 500px;
    transform: translateY(10px);
    visibility: hidden;
    opacity: 0;

    transition: $transition-base;
  }
  &__close {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    #sizes-close {
      width: 40px;
      height: 40px;
      padding: 0;
      background: transparent;
      border: none;
      transition: $transition-base;
      &:hover {
        cursor: pointer;
        span {
          opacity: 0.7;
        }
      }
      span {
        display: inline-block;
        width: 20px;
        height: 5px;
        background-color: $pink-hover;
        transform-origin: 0;
        transition: $transition-base;
        @include respond-above(md) {
          width: 27px;
        }
        &:first-child {
          transform: rotate(45deg);
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__table {
    display: flex;
    padding: 0px 10px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    flex: 1;
    &:last-child {
      margin: 0;
    }
  }

  &__item {
    padding: 15px 10px;
    margin-bottom: 5px;
    @include x-rem(font-size, 14px);
    border: 1px solid #ccc;
    text-align: center;
    &--heading {
      font-weight: bold;
      background-color: #f2f2f2;
    }
    &:last-child {
      margin: 0;
    }
  }
}

.modal-callback {
  //display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.4);

  visibility: hidden;
  opacity: 0;

  &.open {
    visibility: visible;
    opacity: 1;
    .modal-callback__inner {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__inner {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0 0 20px 0;
    border: 2px solid $pink-hover;
    width: 90%;
    max-width: 500px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: $transition-base;
  }
  &__close {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    #callback-close {
      width: 40px;
      height: 40px;
      padding: 0;
      background: transparent;
      border: none;
      transition: $transition-base;
      &:hover {
        cursor: pointer;
        span {
          opacity: 0.7;
        }
      }
      span {
        display: inline-block;
        width: 20px;
        height: 5px;
        background-color: $pink-hover;
        transform-origin: 0;
        transition: $transition-base;
        @include respond-above(sm) {
          width: 27px;
        }
        &:first-child {
          transform: rotate(45deg);
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px 40px 40px;
  }
  &__text {
    p {
      text-align: center;
      margin-bottom: 40px;
      @include x-rem(font-size, 20px);
    }
  }
  &__input {
    margin-bottom: 35px;
    input {
      width: 300px;
      height: 40px;
      text-align: center;
      border: 1px solid #ffcfda;
      background-color: #eceaea;
      &:focus, &:active {
        outline: none;
      }
    }
  }
}